@import './constants.module.scss';
html,
body {
  padding: 0;
  margin: 0;
  font-family: $font-families;
  background-color: _getColor(base, backgrounds);
  color: _getColor(primary, texts);

  p,
  ul {
    margin: 0;
    padding: 0;
  }
}

//insert here global classes
// :global {

// }
